<%-include('meta.ejs')-%>
<meta name="keywords" content="gamezone_games" />
<meta name="description" content="games page" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<%-include('links.ejs')-%>
<title>Jogos</title>
