<!DOCTYPE html>
<html lang="pt">
  <head>
    <%-include('partials/head/jogos.ejs')-%>
  </head>
  <body>
    <%-include('partials/navbar.ejs')-%>
    <main>
      <h1>Jogos</h1>
        <div class="container">
        <%-include('partials/cards/jogos.ejs')-%>
    </div>
    </main>
  </body>
</html>
