<!DOCTYPE html>
<html lang="pt">
  <head>
    <%-include('partials/head/perifericos.ejs')-%>
  </head>
  <body>
	<%-include('partials/navbar.ejs')-%>
    <main>
      <h1>Periféricos</h1>
      <div class="container">
        <div class="row">
        <%-include('partials/cards/desktop.ejs')-%>
        <%-include('partials/cards/keyboard.ejs')-%>
        </div>
      </div>
    </main>
  </body>
</html>
